<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         verbose="true">
  <testsuites>
        <testsuite name="Phifty">
            <directory suffix="Test.php">Phifty</directory>
        </testsuite>
    </testsuites>
</phpunit>
